* {
	font-family: 'Open Sans', sans-serif !important;
}
body {
	padding-bottom: 20%;
}
p{
	font-size: 1.2em;
}
.jumbotron {
	color: white;
	background: slategrey url(media/pets.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	text-shadow: 1px 1px grey;
	margin-bottom: 0px !important;
	/* Used to vertically align to center */
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.panel-heading{
	min-height: 170px;
}
.panel-body{
	min-height: 115px;
}
.jumbo-sub{
	font-size: 2em !important;
}
.brand {
	font-family: 'Monoton', cursive !important;
	font-size: 4.5em !important;
	color: skyblue !important;
}
.big {
	font-size: 4.5em !important;
	font-weight: 800 !important
}
.v-align {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.section {
	padding-top: 10%;
	padding-bottom: 10%;
}
.section2 {
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: lightblue;
	color: black;
}
.panel, .panel-default {
	border: none;
	border-color: none;
	box-shadow: none;
}
.inactive {
	-webkit-filter: opacity(.5);
    filter: opacity(.5);
}